/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Encabezado */
  header {
    background: linear-gradient(180deg, #00ffc3 50%,#d2e7e5 90%);  
    color: #0d5e47;
    padding: 20px;
    text-align: center;
  }
  
  /* Contenedor principal */
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  /* Tarjeta de producto */
  .producto {
    width: 250px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
    text-align: center;
  }
  
  /* Imagen del producto */
  .producto img {
    height: 520px;
    width: 100%;
    object-fit: contain;
  }
  
  /* Título del producto */
  .producto h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  /* Precio del producto*/
  .precio {
font-size: 18px;
font-weight: bold;
color: #4caf50;
margin-top: 5px;
}

/* Botón de agregar al carrito */
.btn-agregar {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    }
    
    /* Estilo al pasar el cursor sobre el botón */
    .btn-agregar:hover {
    background-color: #357a38;
    }
    
    /* Estilo para dispositivos móviles /
    @media screen and (max-width: 768px) {
    / Contenedor principal */
    .contenedor {
    flex-direction: column;
    align-items: center;
    }
    
    /* Tarjeta de producto */
    .producto {
    width: 80%;
    margin: 10px 0;
    }
    
    @media screen and (max-width: 320px){
      h1{
        font-size: 30px;
      }
    }
  